<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.pfctl</string>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>-c</string>
        <string>cat /etc/pf.anchors/dev | sudo pfctl -ef - &amp;&amp; sysctl -w net.inet.ip.forwarding=1</string>
    </array>
    <key>UserName</key>
    <string>root</string>
</dict>
</plist>