// Gruvbox Light Hard theme for Zellij
// Source: https://github.com/morhetz/gruvbox
// Hard background (#f9f5d7), neutral accent variants

themes {
    gruvbox-light-hard {
        fg "#3c3836"
        bg "#f9f5d7"
        black "#3c3836"
        red "#cc241d"
        green "#98971a"
        yellow "#d79921"
        blue "#458588"
        magenta "#b16286"
        cyan "#689d6a"
        white "#f9f5d7"
        orange "#d65d0e"
    }
}
